<!DOCTYPE html>
<html th:replace="iam/layout :: layout(~{::title}, ~{}, ~{::#content})">

<head>
    <title>Reset Password</title>
</head>

<body>
    <th:block id="content">
        <h1>Reset your password</h1>
        <form class="card iam-card" method="post" th:action="@{/iam/reset-password}"
            th:object="${resetPasswordRequest}">
            <div class="form-group">
                <label for="email">Email address</label>
                <input th:field="*{email}" type="email" class="form-control" id="email" name="email"
                    aria-describedby="email-help" maxlength="255" pattern="^.+@.+\..+$" required autofocus>
                <small id="email-help" class="form-text text-muted">Password reset instructions will be sent to this
                    email address.</small>
            </div>
            <button type="submit" class="btn btn-primary">Send reset instructions</button>
        </form>
    </th:block>
</body>

</html>